<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body id="register_body">
    <header id="register_header">
        <div id="header">
            <h1>HOTEL MANAGEMENT</h1>
        </div>
    </header>
    <main>
        <div class="hotel_options">
            <p>Hilton Hotel</p>
            <img src="../static/Hilton.png" height="200" width="400">
            <br>
            <a href="#"><button>View Availability</button></a>
        </div>

        <div class="hotel_options">
            <p>Villa Italia South Beach Miami</p>
            <img src="../static/Villa%20beach.png" height="200" width="400">
            <br>
            <a href="#"><button>View Availability</button></a>
        </div>

        <div class="hotel_options">
            <p>Cambria Hotel</p>
            <img src="../static/Cambria.png" height="200" width="400">
            <br>
            <a href="#"><button>View Availability</button></a>
        </div>

        <div class="hotel_options">
            <p>GoodTime Hotel</p>
            <img src="../static/GoodTime.png" height="200" width="400">
            <br>
            <a href="#"><button>View Availability</button></a>
        </div>
    </main>
</body>
</html>




